workspace/build
workspace/install
workspace/log
workspace/.vscode

workspace/src/rl_policies/logs/Experimento001
workspace/src/rl_policies/logs/Experimento008
workspace/src/rl_policies/logs/Experimento004
workspace/src/rl_policies/logs/Experimento005
workspace/src/rl_policies/logs/**/model_*.pt
workspace/src/rl_policies/logs/**/*.pdf

workspace/src/rl_policies/logs/Experimento002/*.npy
workspace/src/rl_policies/logs/Experimento003/*.npy
workspace/src/rl_policies/logs/Experimento006/*.npy
workspace/src/rl_policies/logs/Experimento007/*.npy

!workspace/src/rl_policies/logs/Experimento002/heatmap_Experimento002.pdf
!workspace/src/rl_policies/logs/Experimento003/heatmap_Experimento003.pdf
!workspace/src/rl_policies/logs/Experimento006/heatmap_3D_Experimento006.pdf
!workspace/src/rl_policies/logs/Experimento007/heatmap_3D_Experimento007.pdf
workspace/src/rl_policies/logs/**/*.svg
!workspace/src/rl_policies/logs/Experimento002/model_5700.pt
!workspace/src/rl_policies/logs/Experimento003/model_9999.pt
!workspace/src/rl_policies/logs/Experimento006/model_9999.pt
!workspace/src/rl_policies/logs/Experimento007/model_9999.pt

workspace/src/rl_policies/logs/x_pos_2d_juggling_small_ball
workspace/src/rl_policies/logs/x_pos_2d_juggling_v3
workspace/src/rl_policies/logs/x_pos_2d_juggling_v7
workspace/src/rl_policies/logs/x_pos_2d_juggling_v12
workspace/src/rl_policies/logs/x_pos_2d_juggling_v13
workspace/src/rl_policies/logs/x_pos_2d_juggling_v28
workspace/src/rl_policies/logs/x_pos_2d_juggling_v28_2.0
workspace/src/rl_policies/logs/x_pos_2d_juggling_v28_2.1
workspace/src/rl_policies/logs/x_pos_2d_juggling_v28_2.2
workspace/src/rl_policies/logs/x_pos_teacher_student
workspace/src/rl_policies/logs/x_pos_teacher_student_v2
workspace/src/rl_policies/logs/x_pos_teacher_student_v3
workspace/src/rl_policies/logs/x_pos_teacher_student_v4
workspace/src/rl_policies/logs/xy_pos_3d_02112025
workspace/src/rl_policies/logs/xy_pos_3d_02112025_added_similar_reward
workspace/src/rl_policies/logs/xy_pos_3d_juggling
workspace/src/rl_policies/logs/xy_pos_3d_juggling_v1
workspace/src/rl_policies/logs/xy_pos_center_in_origin_3d_juggling
workspace/src/rl_policies/logs/xyz_pos_3d_juggling
workspace/src/rl_policies/logs/xyz_pos_3d_juggling_v2
workspace/src/rl_policies/logs/xz_bounce_ball_2d

workspace/src/descriptions/balancing_platform_2d_description/urdf/old
workspace/src/descriptions/balancing_platform_3d_description/urdf/old
workspace/src/rl_policies/rl_policies/balancing_platform_2d/utils/motors/
workspace/src/rl_policies/rl_policies/balancing_platform_2d/utils/evaluate_motors_pd.py
workspace/src/rl_policies/rl_policies/balancing_platform_2d/utils/evaluate_motors_rl.py

workspace/src/rl_policies/rl_policies/balancing_platform_3d/old


*.egg-info
**/__pycache__/
**/MUJOCO_LOG.TXT
**/npy
